<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aytal Popov’s Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/article.css">
</head>

<body>
    <header>
        <div class="header-center">
            <div class="header-main-text">
                AYTAL POPOV’S PORTFOLIO
            </div>
            <div class="header-main-description">
                <p>Hello! My name is Aytal Popov. I’ve lived in Russia, <a href="#">Yakutsk</a> my </p>
                <p>whole life. I’m a digital music artist.</p>
            </div>
            <div class="header-main-soc">
                <a href="#">
                    <img src="../images/soc/Vector-5.svg">
                </a>
                <a href="#">
                    <img src="../images/soc/Vector-1.svg">
                </a>
                <a href="#">
                    <img src="../images/soc/Vector-4.svg">
                </a>
                <a href="#">
                    <img src="../images/soc/Vector-2.svg">
                </a>
                <a href="#">
                    <img src="../images/soc/Vector-3.svg">
                </a>
                <a href="#">
                    <img src="../images/soc/Vector.svg">
                </a>
            </div>
        </div>
    </header>
    <div class="continer-20px">
    </div>

    <div class="continer">

        <table>
            <tr>
                <th>
                    <div class="new">NEW</div>
                    <div class="article">
                        <div class="article-image">
                            <img src="../images/new1.png">
                        </div>
                        <div class="article-info">
                            <a href="#">
                                <div class="article-info-name">
                                    TheFoxxStuff | MUSIC
                                </div>
                            </a>
                            <div class="article-info-description">
                                Пишу электронную музыку.
                            </div>
                        </div>
                    </div>

                </th>
                <th>
                    <div class="article">
                        <div class="article-image">
                            <img src="../images/new1.png">
                        </div>
                        <div class="article-info">
                            <a href="#">
                                <div class="article-info-name">
                                    TheFoxxStuff | MUSIC
                                </div>
                            </a>
                            <div class="article-info-description">
                                Пишу электронную музыку.
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <a href="#">
                        <div class="article-new">
                            <img src="../images/add_new.svg">
                        </div>
                    </a>
                </th>
            </tr>
        </table>
    </div>

    <footer>
        foxx_remix@mail.ru
    </footer>
</body>

</html>